extends ./layouts/layout.jade
block content 
   .container
     .br
       .row
         .col-lg-6
           img.card-img-top.img-fluid.img-cont.prod(src="data:image/png;base64,#{productos.img}")
         .col-lg-6
           br
           h2 !{productos.nombre}
           br
           h5 Marca: MSI
           h5 Iva: Incluido
           a.btn.btn-success(id= "producto" onclick="toastr.success('Producto agregado :D');", role='button')
             i.fa.fa-shopping-cart(aria-hidden='true') 
             | Agregar al Carro
           script.
               $(document).ready(function() {
                 $('#producto').click(function() {
                   $.ajax({
                     type: "get",
                     url: "/add/#{productos.id}/2",
                     success: function(a) {
                       $('#contenido').html(a);
                     }
                   });
                 });
               });
           
                                  
        .row
          .col-lg-10
            br 
            h4 Descripcion
            p Si tu PC se parece más a una estación de combate que a una herramienta de trabajo, equípate con accesorios de juegos diseñados para anular la competencia. 
              | Desarrollado siguiendo consejos de los equipos eSports, las prestaciones de alta calidad de esta alfombrilla para ratón y la precisa atención por los detalles marcan la diferencia entre una aplastante victoria y una derrota desgarradora.
               
    
