doctype html
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 The Box 
      p Usted a relizado pedido de bla bla bla 
      p Puede realizar una trasferencia a la cuenta 2131209380
      p Puede comunicarse con nosotros para pagar en efectivo al momento de la entrega 
      p bla bla bla XDXDXD
      p porfa brian redacta esta chet :( 
      
 
