doctype html(lang='en')
head
    // Required meta tags always come first
    meta(charset='utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    |     
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    |     
    title Material Design Bootstrap Template
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // Bootstrap core CSS
    link(href='/css/compiled.min.css', rel='stylesheet')
    |     
    style.
      .top-nav-collapse {
      background-color: #82b1ff !important;
      }
      .navbar:not(.top-nav-collapse) {
      background: transparent !important;
      }
      @media (max-width: 768px) {
      .navbar:not(.top-nav-collapse) {
      background: #82b1ff !important;
      }
      }
      .intro-1 {
      height: 1050px;
      }
      @media (min-width: 770px) and (max-width: 1025px) {
      .intro-1 {
      height: 750px;
      }
      }
      @media (max-width: 740px) {
      .intro {
      height: 600px;
      }
      }
  body
      .container
        // Grid row
        .row
          // Grid column
          .col-md-12.text-center.mb-5
            h1.font-bold.light-blue-text.my-5 Lorem ipsum dolor sit amet, consectetur quis elit.
            |                     
            p(align='justify')
              | Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.Lorem ipsum dolor sit amet, consectetur quis elit. Perspiciatis commodi porro, cumque provident rem corporis odit, ut quas dolores maxime nesciunt possimus quis, soluta velit debitis amet, veritatis cupiditate reprehenderit.
          // Grid column
        // Grid row
      |         
      .view.intro.hm-white-light.jarallax(data-jarallax-video='https://vimeo.com/groups/freehd/videos/153749651', style='background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%2820%29.jpg);')
        .full-bg-img
          .container.flex-center
            .row.mt-5.py-5
              .col-md-12.wow.fadeIn.mb-3
                .text-center
                  h1.display-2.mb-2.wow.fadeInDown(data-wow-delay='0.3s')
                    | ANNA&apos;S 
                    a.white-text.font-bold BLOG
                  |                                 
                  h5.font-up.mb-3.mt-1.font-bold.wow.fadeInDown(data-wow-delay='0.4s') Interior designer &amp; Nature lover
                  |                                 
                  a.btn.btn-elegant.btn-lg.wow.fadeInDown(data-wow-delay='0.4s') portfolio
                  |  
                  |                                 
                  a.btn.btn-outline-white.btn-lg.wow.fadeInDown(data-wow-delay='0.4s') About me
  
    script(type='text/javascript', src='/js/compiled.min.js')
    |     
    script(type='text/javascript', src='/js/jarallax.js')
    |     
    script(type='text/javascript', src='/js/jarallax-video.js')
    |     
    script.
      new WOW().init();
