extends ./layouts/layout.jade
block content
  .espacio
  .espacio
  .container
    h2 El pedido ha sido realizado se ha enviado un correo de confirmacion al correo.
    h4 En el se encuentra la informacion de las formas pago.
    h4 Por el medio del mismo puede comunicarse con nosotros para acordar modo de envio y punto de encuentro.
    h4 Para mas informacion puede comunicarse con nosotros via whatsapp 128939812793 o por el correo box@gmail.com.
    a.btn.btn-success(href="/") Seguir comprando
  .espacio
  .espacio
