if session.user
    li.nav-item.mov
         if session.user
          .usu #{session.user.email} 
          a.nav-link.mov.cerrar(href='/cerrar') Cerrar Sesion
else     
   li.nav-item.mov
     a.nav-link.mov(href='/login2/') Iniciar Sesion
