
body { padding-right: 0 !important }
.fixed-bottom, .fixed-top {
    z-index: 1050 !important ;
}
.cerrar{
  position: relative;
  top:-15px;
}
.navbar {
    height: 55px !important;
}
.espacio{
    height: 55px !important;
}
.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    padding: 8px 35px 8px 14px;
    margin-bottom: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.error{

}+
.usu{
  color: white;
  padding: 10px;
}

.md-form label.active {

-ms-transform: none !important ;

}
.espacio2{
    height: 100px;
}
.cartItem{

}
.cantidad{
    float: none;
    width: 44px !important;
    margin-left: 0;
}
.close {
    float:inherit !important;
}
#navbarNavDropdown{
  margin-left: 15%;
}
nav{
  background:#000
}
.mov{
  padding: 10px;
  margin-left: 40px;
}
.hero {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    background-size: cover;
}
.is-smallslider {
    height: 420px !important;
    overflow: hidden;
    background: #fff;
}
.bordertopbottom {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}
.is-smallslider-text {
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 0px;
    text-align: center;
    margin: 25px 0;
    font-family: Industry-Book;
    font-size: 30px;
}
.z100 {
    z-index: 100 !important;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.prod{

}
.fa-pull-right, .pull-right{
  float: left;
}
.fa-shopping-cart:before {
  margin-right: 5px;
}
.side-nav .logo-wrapper img {
    padding: 2% 90px;
}
.sn-bg-1 {
    background-image: none;
}
.lista{
  visibility: hidden;
}
a {
    color: white;
}
/*.imgLogo{
    margin: 9px auto;
    display: block;
    position: relative;
}*/
 .navbar-brand {
  height: 40px !important;
}

.nav >li >a {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.navbar-toggle {
  padding: 10px !important;
  margin: 25px 15px 25px 0 !important;
}

.imgModal{
    height: 120px;
    width: 120px;
}
.titulo{
  color: white;
  margin: 9px auto;
  visibility: visible;
}
.inputEliminar{
  width: 50px;
}
.product-view-tabs-item {
    cursor: hand;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 10px 0 0;
    padding: 5px 10px 5px 10px;
    list-style: none;
    display: inline-block;
    background-color: #51b6ff;
    color: #fff;
}
.img-cont {
    height: 290px;
    width: 280px;
}
.hm-white-slight .full-bg-img, .hm-white-slight .mask {
    background-color: rgba(29, 87, 182, 0.68);
}
.btnCart{
  padding: 5px;
  margin: 0px;
}
.btnLogin{
  padding: 5px;
  margin: 0px;

}
.navbar .navbar-brand {
  -webkit-align-self: none !important;
  align-self: center !important;

}
@media only screen and (max-width: 992px) {
  .lista{
    visibility: visible;
    height: 45px;
    width: 45px;
  }
  .imgLogo{

  }
  .titulo{
   display: none;
  }
  .table td, .table th {
    padding: 5px;
  }
  .img-cont{
    height: 100%;
    width: 100%;
  }
}
.reg{
  margin-left: 10px;
}
