#navbarNavDropdown{
  margin-left: 15%;
}
nav{
  background:#000
}
.mov{
  padding: 10px;
  margin-left: 60px;
}
.hero {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    background-size: cover;
}
.is-smallslider {
    height: 420px !important;
    overflow: hidden;
    background: #fff;
}
.bordertopbottom {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}
.is-smallslider-text {
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 0px;
    text-align: center;
    margin: 25px 0;
    font-family: Industry-Book;
    font-size: 30px;
}
.z100 {
    z-index: 100 !important;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.prod{
  padding: 10px;
}
.fa-pull-right, .pull-right{
  float: left;
}
.fa-shopping-cart:before {
  margin-right: 5px;
}
.side-nav .logo-wrapper img {
    padding: 2% 90px;
}
.sn-bg-1 {
    background-image: none;
}
.lista{
  visibility: hidden;
}
a {
    color: white;
}
.imgLogo{
    margin: 9px auto;
    display: block;
}
h3{
  color: white;
  margin: 9px auto;
  visibility: visible;
}

@media only screen and (max-width: 992px) {
  .lista{
    visibility: visible;
    height: 45px;
    width: 45px;
  }
  .imgLogo{

  }
  h3{
   display: none;
  }
  .table td, .table th {
    padding: 5px;
  }
}
